services:
  - type: web
    name: multidownload-backend
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
      - key: CORS_ORIGIN
        value: https://multi-downloads.vercel.app,https://multidownload.in
    autoDeploy: true
